/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap_notify";

body {
  padding: ($navbar-height + 10) 10px 0;
}

.device-form {
  width: 50%;
  min-width: 400px;
  margin: 20px auto;

  @media (min-height: 500px) {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.notifications {
  .alert {
    .close.pull-right {
      margin-left: 5px;
      margin-top: -2px;
    }
  }
}
